* {
    padding: 0px;
    margin: 0px;
}

.box-continar {
    display: flex;
    border: 1px solid red;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    height: 100px;
    width: 100px;
    border: 1px solid green;
}